@import url("https://use.typekit.net/tce1zir.css");

.App-header {
  font-size: calc(10px + .62vmin) !important;
}

.createAccountHeaders {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 1px;
  color: white;
  font-family: factoria,serif;
  font-weight: 100;
  font-style: normal;
}
.createAccountLabels {
  text-align: left;
  vertical-align: middle;
  color: white;
  font-family: factoria,serif;
  font-weight: 100;
  font-style: normal;
}
