@import url("https://use.typekit.net/tce1zir.css");
.App {
  text-align: center;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.App-link {
  color: #61dafb;
}

.tabArea {
  position: fixed;
  left: calc(20vw + 5px);
  top: 5px;
}

.disabled-link {
  pointer-events: none;
}


.createAccountHeaders {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 1px;
  color: black;
  font-family: factoria,serif;
  font-weight: 100;
  font-style: normal;
}
.createAccountLabels {
  text-align: left;
  vertical-align: middle;
  color: black;
  font-family: factoria,serif;
  font-weight: 100;
  font-style: normal;
}

.propertiesHeaderText {
  color: black;
  font-family: factoria,serif;
  font-weight: 100;
  font-style: normal;
}