@import url("https://use.typekit.net/tce1zir.css");

.containerLogo {
    max-width: 430px;
}

.navBarLogo {
    text-align: start;
    font-family: factoria,serif;
    font-weight: 100;
    font-style: normal;
}
.navBarLinkTitles {
    justify-content: end;
    font-family: factoria,serif;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}

.sectionAccTitle{
    text-align: left;
    vertical-align: middle;
    margin-bottom: 1px;
    color: black;
    font-family: factoria,serif;
    font-weight: 100;
    font-style: normal;
    font-size: 27px;
}

.accodionHeader{
    text-align: left;
    vertical-align: middle;
    margin-bottom: 1px;
    color: black;
    font-family: factoria,serif;
    font-weight: 100;
    font-style: normal;
    font-size: 40px;
}

.sectionAcctBody {
    margin-left: 15px;
    text-align: left;
}

.text {
    font-size: 12;
}
.apiText {
    font-size: 12;
    font-weight: 200;
}

.welcomeText {
    text-align:center;
    justify-content:center;
    font-family: factoria,serif;
}

.headerTextStyle {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 1px;
    color: black;
    font-family: factoria,serif;
    font-weight: 100;
    font-style: normal;
    font-size: 27px;
}