@import url("https://use.typekit.net/tce1zir.css");

.header {
  background-color: rgb(31, 83, 172);
  font-family: factoria,serif;
  color: black;
}

.title {
  font-size: 50px;
}

.subtitle {
  font-size: 20px;
}

.nav-link {
  color: black !important;
}

.nav-link:hover {
  color: white !important;
}

.navbar-brand:hover {
  color: white !important;
}
