@import url("https://use.typekit.net/tce1zir.css");

.noAppointmentsHeader{
    text-align: left;
    vertical-align: middle;
    margin-bottom: 1px;
    color: black;
    font-family: factoria,serif;
    font-weight: 100;
    font-style: normal;
    font-size: 27px;
}