@import url("https://use.typekit.net/tce1zir.css");
.headerTitle {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 1px;
    color: black;
    font-family: factoria,serif;
}

.pricingTitle {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 1px;
    color: black;
    font-family: factoria,serif;
}

.disclaimer {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 1px;
    color: black;
    font-family: factoria,serif;
    font-style: italic;
    font-size: 14px;
}

.sellerTitle{
    text-align: center;
    margin-bottom: 12px;
    margin-top: 24px;
    font-family: factoria,serif;
    color: black;
    font-weight: bold;
}

.cleaningTitles {
    text-align: center;
    vertical-align: middle;
    color: black;
    font-family: factoria,serif;
    font-size: 20px;
    font-weight:lighter;
}